.font {
    font-family: 'Times New Roman', sans-serif;
}

#background {
    background-color: #4e4e4e;
}

h1, h2 {
    color: #ffdefd;
    font-weight: 700;
}

.link {
    color:#b4fcff;
}

.page-text{
    color:white;
}

.link {
    font-size: 22px;
    font-family: Impact, 'Times New Roman', sans-serif;
    font-style:italic;
}

.page-text {
    font-size: 20px;
}